extends layout

block header
  include header
  +header(user)

block content
  include pagetitle
  +pagetitle(title)
  div(class="md:ml-2").grow.flex.flex-col
    if(user)
      div.mb-4
        a.font-bold.text-lg.text-fuchsia-500(href="/sendmessage")
          |
          i.las.la-paper-plane
          |
          | Send message
    if(messageboard === undefined || messageboard.length === 0)
      p There are no messages to display.
    else
      if(user && user.membership === "Insider")
        ul.flex.flex-col.gap-4
          - let colorswitch = false
          each message in messageboard
            if(colorswitch)
              - colorswitch = false
              li
                if(message.message_author.admin)
                  p.messageauthor #{message.message_author.fullname}
                    |
                    span.align-top.text-sm
                      i.las.la-star
                    |
                    | on #{message.message_timestamp} said:
                else
                  p.messageauthor #{message.message_author.fullname} on #{message.message_timestamp} said:

                div.boardpink
                  p.font-semibold #{message.title}
                  p #{message.message_content}
            else
              - colorswitch = true
              li
                if(message.message_author.admin)
                  p.messageauthor #{message.message_author.fullname}
                    |
                    span.align-top.text-sm
                      i.las.la-star
                    |
                    | on #{message.message_timestamp} said:
                else
                  p.messageauthor #{message.message_author.fullname} on #{message.message_timestamp} said:

                div.boardblue
                  p.font-semibold #{message.title}
                  p #{message.message_content}
            if(user.admin)
              form(action="" method="POST")
                input#deletemessage(type="hidden" name="deletemessage" value=message._id.toString())
                button.trash.ml-auto.w-fit(type="submit" title="Delete message")
                  i.las.la-trash-alt
      else
        ul.flex.flex-col.gap-4
          - let colorswitch = false
          each message in messageboard
            if(colorswitch)
              - colorswitch = false
              li.boardpink
                div.ml-4
                  p.font-semibold #{message.title}
                  p #{message.message_content}
            else
              - colorswitch = true
              li.boardblue
                div.ml-4
                  p.font-semibold #{message.title}
                  p #{message.message_content}
    include pagination
    +pagination(pagination, currentpage)
