extends layout

block header
  include header
  +header(user)

block content
  h1= title
  if(user)
    a(href='/sendmessage') Send new message
  if(messageboard === undefined || messageboard.length === 0)
    p There are no messages to display.
  else
    if(user.membership === "Insider")
      ul
        each message in messageboard
          li #{message.message_author.fullname} on #{message.message_timestamp} said:
          | #{message.title}
          | #{message.message_content}
    else
      ul
        each message in messageboard
          li #{message.title}
          | #{message.message_content}
  
